* {
    box-sizing: border-box; /*границу включаем в размер блока чтобы не появлялась полоса прокрутки*/
}

html {
    height: 100%; /* задаем высоту элемента в процентах */
    width: 100%;
    background-color: aliceblue;
    font-size: 62.5%;
}

body {
    height: 100%; /* задаем высоту элемента в процентах */
    width: 100%; /* задаем ширину элемента в процентах */
    max-width: 100rem; /*максимальная ширина контента*/
    margin: 0 auto; /*отступы сверху и снизу 0 слева и справа автоматически, тем самым ставим в центре*/
    display: flex; /*распологаем блоки в линию*/
    flex-flow: column wrap; /*распологаем столбиками*/
}

.main {
    width: 5rem;
    height: 100%;
    background-color: blue;
}

.text {
    color: #fffdfd; /*цвет текста в шапке*/
    margin-left: 5rem;
    margin-top: 1rem;
    font-size: 1.4rem;
}

.header-contact {
    width: 30%;
    height: 4rem;
    background-color: #bfedff;
}

.header-chat {
    width: calc(70% - 5rem);
    height: 4rem;
    background-color: #bfedff;
}

.contacts {
    width: 30%; /*ширина*/
    height: calc(100% - 4rem); /*высота*/
    background-color: white;
    font-size: 1.4rem; /*размер шрифта*/
}

.chat {
    width: calc(70% - 5rem); /*ширина*/
    height: calc(100% - 4rem);
    border-left: 0.2rem solid aliceblue; /*левая граница блока сообщений будет видна как гарница между контактами и чатами*/
    background-color: white;

}

.avatar {
    padding: 1rem;
    border-radius: 50%;
    width: 5rem;
}

