
html {
    height:100%; /* задаем высоту элемента в процентах */
    width: 100%;
}
body {
    height:97%; /* задаем высоту элемента в процентах */
    width: 98%;/* задаем ширину элемента в процентах */
    max-width: 800px; /*максимальная ширина контента*/
    margin: 0 auto; /*отступы сверху и снизу 0 слева и справа автоматически, тем самым ставим в центре*/
}
.obshiy/*размер рабочего пространства */
{
    min-width:100%;
    height: 100%;
    border:1px solid red; /*граница блока толщиной в 1 пиксели и красным цветом*/
    /*background-color: #ca2424;*/
}
.text
{
    color: #fffdfd;/*цвет текста в шапке*/

}
.block-shapka {
    padding: 13px 5px;/*внутренние отступы от текста в шапке*/
    width: 98%;
    height: 20px;
    background-color: #bfedff;
    margin: 0px;

}
.block-sleva /*блока с контактами*/
{
    width: 25%;/*ширина*/
    height: 100%;/*высота*/
    margin: 0px;
    border: 1px solid black; /*граница блока с контактами*/
  /*  background-color: #d9d6d6;*/
}
.block-sprava {
    width: 150px;
    margin: 0px;
    border-color: #d7309f;
  /*  background-color: #30d7d7;*/
}
.avatar
{
    padding: 20px;
    border-radius: 50%;
    margin-top: 10px;
}


