* {
    box-sizing: border-box; /*границу включаем в размер блока чтобы не появлялась полоса прокрутки*/
}

html {
    height: 100%; /* задаем высоту элемента в процентах */
    width: 100%;
    background-color: aliceblue;
    font-size: 62.5%; /*для указывания размера текста в rem в соотношении 1/10 px*/
}

body {
    height: 100%; /* задаем высоту элемента в процентах */
    width: 100%; /* задаем ширину элемента в процентах */
    margin: 0 auto; /*отступы сверху и снизу 0 слева и справа автоматически, тем самым ставим в центре*/
    display: flex; /*распологаем блоки в линию*/
    flex-flow: column wrap; /*распологаем столбиками*/
}

.folders {
    width: 7rem;
    height: 100%;
    background-color: #22225d;
    padding-top: 1rem;
}

.folders__folder {
    width: 7rem;
    text-align: center; /* расположение по центру*/
}

.folders__folder_active {
    background-color: #181515;
}

.folders__text {
    color: #c6c6c6;
    font-size: 1.5rem;
}

.folders__ico {
    width: 2.5rem;
    margin: 0.5rem auto;
    filter: contrast(1%);
}

.contacts { /*параметры блока контактов*/
    width: 33%; /*ширина*/
    height: 100%; /*высота*/
    background-color: white;
    font-size: 1.4rem; /*размер шрифта*/
    border-right: 0.1rem solid aliceblue; /*правая граница блока сообщений будет видна как гарница между контактами и чатами*/
    overflow: auto;
}

.contacts__search {
    width: 85%;
    height: 3rem;
    background-color: #efefef;
    margin: 1rem 7.5%; /*располагает строку поиска с отступомсверху и по центру горизонтально*/
    font-size: 1.5rem;
    border: #c6c6c6;
    outline: #00d9ff;
    border-radius: 0.3rem;
}

.contacts__search:focus {
    border: 0.2rem solid #00d9ff;
}

.contacts__contact { /*параметры отдельных контактов*/
    display: flex; /*распологаем блоки в линию*/
    height: 6rem;
    align-items: center; /*вертикальноевыравнивание по центру*/
    font-weight: 500;
    font-size: large;
}

.contacts__contact_active { /*параметры активного контакта*/
    background-color: #5396e3 !important; /*определяем фон активного элеменка как самы приоритетный*/
    color: #fffdfd; /*цвет текста активного контакта*/
}

.contacts__contact:hover {
    background-color: #efefef;
}

.contacts__avatar {
    padding: 1rem;
    border-radius: 50%;
    width: 6rem;
}

.status {
    width: calc(67% - 7rem); /*ширина*/
    height: 5.2rem;
    background-color: #fffdfd;
    padding-top: 0.5rem;
    padding-left: 2rem;
    display: flex;
    flex-flow: column wrap;
}

.status__name {
    width: calc(100% - 12rem);
    font-weight: 500;
    font-size: large;
}

.status__ico {
    width: 2.5rem;
    margin: 0.5rem auto;
    filter: contrast(1%);
}

.creat-message {
    width: calc(67% - 7rem); /*ширина*/
    height: 5.2rem;
    background-color: #fffdfd;
    display: flex; /*расположение элементов в линию*/
    align-items: center; /*выравнивание по центру*/
    font-size: 1.5rem;
    color: #c6c6c6;
}

.creat-message__text {
    width: calc(100% - 11.6rem);
    height: 100%;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
}

.creat-message__ico {
    width: 2.5rem;
    margin: 0.5rem auto;
    filter: contrast(1%);
}

.chat {
    width: calc(67% - 7rem); /*ширина*/
    height: calc(100% - 5.2rem - 5.2rem);
    background-image: url("pictures/romashki.jpg");
    display: flex;
    flex-direction: column-reverse; /*обратное расположение колонок*/
    padding: 1rem;
    overflow: auto; /*запрещает выходить контенту за размер блока, при необходимости появляется полоса прокрутки*/;
}

.message {
    width: auto;
    height: auto;
    width-max: 70%;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    padding: 0.5rem;
}

.message_date {
    margin: 1rem auto;
    padding: 0.2rem;
    background-color: #8eb879;
    color: #fffdfd;
}

.message_incoming { /*входящие сообщения*/
    margin-right: auto;
    margin-top: 1rem;
    background-color: white;
}

.message_outgoing { /*исходящие сообщения*/
    margin-left: auto;
    margin-top: 1rem;
    background-color: #d3f8c2;
}

.message__time {
    font-size: 1rem;
    margin: 0 0 0 auto;
}


