* {
    box-sizing: border-box; /*границу включаем в размер блока чтобы не появлялась полоса прокрутки*/
}

html {
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    font-size: 62.5%; /*для указывания размера текста в rem в соотношении 1/10 px*/
}

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.time {
    height: 5rem;
    width: 20rem;
    margin: 2rem;
    padding: 1.5rem;
    border: #181515 solid 0.1rem;
    font-size: medium;
}
